@font-face {
	font-family: 'BebasNeueBold';
	src: local('../fonts/BebasNeueBold/BebasNeue-Bold'), local('BebasNeue-Bold'),
		url('../fonts/BebasNeueBold/BebasNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

