@font-face{

font-family: 'GothamPro';

src: url('../fonts/WebFont.eot');

src: url('../fonts/WebFont.eot?iefix') format('eot'),

url('../fonts/WebFont.woff') format('woff'),

url('../fonts/WebFont.ttf') format('truetype'),

url('../fonts/WebFont.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'GothamPro';

src: url('../fonts/WebFont-Bold.eot');

src: url('../fonts/WebFont-Bold.eot?iefix') format('eot'),

url('../fonts/WebFont-Bold.woff') format('woff'),

url('../fonts/WebFont-Bold.ttf') format('truetype'),

url('../fonts/WebFont-Bold.svg#webfont') format('svg');

font-weight: bold;

font-style: normal;

}